<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Titulo principal -->
    <h3 style="text-align: center;">Agregar estudiante</h3>

    <!-- Formulario -->
    <form action="/addStudent" method="post">
        <div class="card_01">
        <div>
            <div>
                <label for="nss">NSS</label>
            </div>
            <div>
                <input type="text" name="nss" id="nss">
            </div>
        </div>

        <div style=" margin-top: 10px;">
            <div>
                <label for="nombre">Nombre</label>
            </div>
            <div>
                <input type="text" name="nombre" id="nombre">
            </div>
        </div>

        <div style=" margin-top: 10px;">
            <div>
                <label for="edad">Edad</label>
            </div>
            <div>
                <input type="text" name="edad" id="edad">
            </div>
        </div>

        <div style=" margin-top: 10px;">
            <div>
                <label for="tipoSangre">Tipo de sangre</label>
            </div>
            <div>
                <input type="text" name="tipoSangre" id="tipoSangre">
            </div>
        </div>

        <div style=" margin-top: 10px;">
            <input type="submit" value="submit" id="boton">
        </div>
    </div>
    </form>

</body>

</html>